* {
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(img/blacktexture.jpg);
}

header{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    position: relative;
    z-index: 100000;
    position: sticky;
    top: 0;
}
/*Configuracion y parametros para el logo*/
.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 120px;
    width: 150px;
    margin-left: 20px;
    margin-right: 90px;
}

/*configuracion para los links*/
.header .nav-links li{
    display: inline-block;
    position: relative;
    padding: 0 40px;
    transition: all 0.5s;
}

.header .nav-links li:hover{
    transform: scale(1.2);
}

.header .nav-links a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #cead0a;
}

.header .nav-links li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 135px;
    z-index: 1000;
    transition: all 0.3s;
    padding: 10px 0;

}

.header .nav-links li .dropdown-content a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.header .nav-links li .dropdown-content a:hover{
    background-color: #cead0a;
    border-radius: 5px; 
    width: 100%;
    transform: scale(1.0); 
    transition: all 0.5s; 
}

.header .nav-links li:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 10px;
}

/*configuracion para el boton contacto*/
.header .btn button{
    background-color: #cead0a;
    color: #000000;
    font-size: 18px;
    margin-right: 50px;
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
}

.header .btn button:hover{
    transform: scale(1.2);
    color: #ffffff;
    background-color: #eb1f28;
}

.hero {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*SECCION PARA EL FONDO Y TITULO*/
div.fondo {
    background-image: url(img/fondo3.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 2rem;
}

.title {
    font-size: 50px;
    z-index: 100;
    color: #ffffff;
    text-align: center;
}

.title p {
    color: #ffffff;
    font-size: 4rem;
}

p {
    color: #ffffff;
    font-size: 1.5rem;
}

/*AQUI EMPIEZA LA SEGUNDA SECCION*/
/* esta clase abarca la segunda seccion que es de horarios, pero por ahora la dejare comentada*/
.schedule {
    width: 100%;
}

.header-schedule {
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}

.track {
    display: flex;
    align-items: center;
    animation: scroll 30s linear infinite;
}

.sponsors {
    height: 100px;
    width: auto;
    margin: 1px; 
    flex-shrink: 0;
    display: block;
}

/*contenedor para los horarios*/

/* Contenedor centrado */
.box-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 300px;
}

/* Caja de la tabla */
.table-schedule {
  background: #ffffffe7;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow-x: auto;
}

/* Tabla */
table {
  border-collapse: collapse;
  min-width: 700px;
}

/* Encabezado */
thead {
  background: #eb1f28;
  color: rgb(255, 255, 255);
}

th {
  padding: 15px;
  text-transform: uppercase;
}

/* Celdas */
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #7c7c7c;
}

/* Hover filas */
tbody tr:hover {
  background: #cead0af6;
  transform: scale(1.01);
  transition: 0.3s ease;
}

/* Primera columna (horas) */
td:first-child {
  font-weight: bold;
  color: #000000;
}

/* Efecto suave */
tr {
  transition: all 0.3s ease;
}

/* Section principal */
.festival-info {
    margin-top: 0;
  position: relative;
  height: 400px;
  background: url("img/about.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overlay oscuro */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* oscuridad */
}

/* Contenido encima */
.contenido {
  position: relative;
  color: white;
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

/* Título */
.contenido h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* Texto */
.contenido p {
  font-size: 1.1rem;
  line-height: 1.5;
}

/*esta es la seccion de judging criteria*/

/* CONTENEDOR PRINCIPAL */
.judging-criteria {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;     
    padding: 20px;

}

.judging-criteria h1 {
    background-color: #000000;
    color: #cead0a;
    font-size: 4.5rem;
    margin: 50px;
    transition: all .9s ease;
}

.judging-criteria h1:hover {
    transform: scale(1.1);
    padding-top: 5px;
    color: #eb1f28;
    
}

/* CONTENEDOR DE TARJETAS */
div.container {
    display: flex;    
    gap: 30px;                 
    flex-wrap: wrap;           
    justify-content: center;    
}

/* TARJETAS con el efecto overlay */
.tarjeta {
    position: relative;
    width: 350px;
    height: 450px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

/* HOVER TARJETA */
.tarjeta:hover {
    transform: scale(1.05);
}

/* IMAGEN */
.tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* evita recorte */
    background-color: rgb(0, 0, 0);
    transition: transform 0.5s ease;
}

/* ZOOM IMAGEN */
.tarjeta:hover img {
    transform: scale(1.05);
}

.tarjeta h2 {
    color: #cead0a;
    font-size: 2rem;
}

/* OVERLAY */
.overlay-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    text-align: center;
}

/* APARECE OVERLAY */
.tarjeta:hover .overlay-2 {
    transform: translateY(0);
}

/* Sección para la parte de multimedia*/
.multimedia {
  padding: 60px 40px;
}

.titulo-cards {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

/* CONTENEDOR FLEX */
.cards-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 20px;
}


.card {
  flex: 1 1 calc(20% - 20px); 
  max-width: calc(20% - 20px);

  background: #1c1c1c;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  color: white;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Imagen */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Texto */
.card h3 {
  margin: 15px 0 5px;
}

.card p {
  margin-bottom: 15px;
  color: #cead0a;
}


.card:hover {
  transform: translateY(-10px) scale(1.2);
  box-shadow: 0 10px 25px rgba(255, 77, 77, 0.5);
}

/*Aqui comienza el footer*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #000000;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links {
    flex: 1;
    min-width: 200px;
    padding: 0 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links h4 {
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 10px;
    margin: 0 0 25px 0;
    border-bottom: 2px solid #9d840a;
    padding-bottom: 10px;
    display: inline-block;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.footer-links ul {
    padding: 0;
}

.footer-links ul li {
    text-align: center;
}

.footer-links ul li a {
    font-size: 18px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 20px;
}

.social-link {
    display: flex;
    justify-content: center;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #888888;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover {
    background-color: #9d840a;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;

    }
}
